
<div *ngIf="selected">
  <app-Anime-detail> [animeDetail]="selectedAnime"</app-Anime-detail>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col mb-2" *ngFor="let anime of animes">
        <div class="card p-2" style="width: 15rem; height: 33rem">
        
          <h5 class="card-title">{{anime.name}}</h5>
          <img
          class="card-img-top"
          src="{{ anime.img }}"
          alt="{{ anime.name }}"
          (click)="onSelected(anime)"
        />
        <div class="card-body">
 
          <dd>⭐{{ anime.Rating }}</dd>
          <dt>Categories</dt><dd>{{ anime.categorie }}</dd>
        
          
        </div>
      </div>
  </div>
</div>