<div class="container-fluid">
  <p class="h3 p-3">{{ animeDetail.name }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ animeDetail.img}}"
          alt="{{ animeDetail.name }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
       
        <dt>{{ animeDetail.name }}</dt>
        <hr />
        <dt>Description</dt>
        <dd>{{ animeDetail.description }}</dd>
        <hr />
        <dt class="bold">Rating</dt>
        <dd class="caption">{{ animeDetail.Rating }}</dd>
        <hr />
        <dt class="bold">Studio</dt>
        <dd>{{ animeDetail.description}}</dd>
      </dl>
    </div>
  </div>
 </div>